%h1 Results

#improved-stats
  %b Most Improved
  %p Josh Hubbard with a .500 difference.

#slugging-percentages
  %b Slugging Percentages
  %p
    %table.table
      %thead
        %tr
          %th #
          %th Name
          %th Slugging Percentage

#triple-crown
  %b Triple Crown Results
  %p These are the results.
