%h4#main-text.center Select batter and master files.

.row
  #form-area.col-md-4.col-md-offset-4.jumbotron
    = render 'static_pages/form'

  #results-area.col-md-4.col-md-offset-4.well
    = render 'static_pages/results'